<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ page.title | default: site.title }}</title>
  <!-- Pixel font from Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet" />
  <!-- <link rel="stylesheet" href="/assets/css/style.css"> -->
  <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
  <!-- <cypher font> -->
  
</head>
<body>
  <div class="container">
    {% include header.html %}
    <main>
      {{ content }}
    </main>
    {% include footer.html %}
  </div>
  <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
</body>
</html>

